.case-item {
	background-color: #ccccff;
	color: black;
	margin: 10px;
	padding: 10px;
	width: 20%;
	height: 300px;
}
.case-item p {

	white-space: initial;
	overflow: hidden;
}

#cases {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.case-item h3 {
	text-align: center;
	font-family: sans-serif;
}
.case-card {
	background-color: #ccccff;
	color: black;
	margin: 10px;
	padding: 10px;
	width: 20%;
	height: 300px;
}
.case-list { 
	display: block;
	background-color: #ccccff;
	color: black;
	margin: 10px;
	padding: 10px;
	width: 100%;
}
.case-list h3 {
	text-align: left;
}
.views-nav {
    text-align: right;
    margin-right: 30px;
}
.views-nav i {
	color: gray;
    background: #e5e5e5;
    padding: 8px;
    font-size: 20px;
    border: 2px solid grey;
}
.views-nav i:hover {
	background: #fafafa;
	cursor: pointer;
}
#go-to-case-tasks {
	height: 20px;
}
#go-to-case-client {
	height: 20px;
}