@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.title {
	text-align: center;
	font-size: 30px;
}

.case-item {
	background-color: #fe5c30;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.case-item:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.case-item p {
	white-space: initial;
	overflow: hidden;
}

#cases {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.case-item h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.case-card {
	color: white;
	margin: 10px;
	padding: 10px;
	width: 20%;
}
.case-list { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin: 10px;
	padding: 10px;
	width: 100%;
}
.case-list h3 {
	text-align: left;
}
.views-nav {
    text-align: right;
    margin-right: 30px;
}
.views-nav i {
	color: gray;
    background: #e5e5e5;
    padding: 8px;
    font-size: 20px;
    border: 2px solid grey;
}
.views-nav i:hover {
	background: #fafafa;
	cursor: pointer;
}
button {
	padding: 10px;
	margin: 10px;
	background: #BDBDBD;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	transition: background-color .3s;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	margin: 10px;
}
button:hover {
	cursor: pointer;
}
p {
	font-family: 'Roboto', sans-serif;
}
main {
	margin-top: 120px;
	font-family: 'Roboto', sans-serif;
}

/* top nav*/
.top-nav {
	margin-right: 20px;
}
.top-nav li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 10px;
}
.top-nav li a {
	color: white;
	font-size: 1.4em;
}
.top-nav li:hover {
	background: gray;
}
h1 {
	float: left;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}
.top-logo {
	margin-left: 20px;
}
header {
	display: flex;
	position: fixed;
	background: black;
	justify-content: space-between;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
h1>a {
	color: white;
}

a {
	text-decoration: none;
}

input.new.case-name {
	font-size: 24px;
}
input {
	outline: none;
	border: none;
	background: #fe5c30;
	color: white;
}
textarea {
	outline: none;
	border: none;
	resize: none;
	background:#fe5c30;;
	color: white;
	font-size: 16px;
}
::placeholder {
	color: #bdbdbd;
}
input.new-client-input {
	font-size: 16px;
}
select {
	font-size: 16px;
	background:#fe5c30;
	color: white;
	border: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.case-name {
	font-size: 24px;
	overflow-wrap: break-word;
}
.case-item h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
.case-list>.case-name-div>.case-name {
	width: 300px;
}
.case-client-div {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}
.case-date {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}

#cases {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}