@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
}
/* top nav*/
header {
	display: flex;
	flex-direction: column;
	position: fixed;
	background: black;
	justify-content: space-between;
	height: 120px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.top-bar {
	display: block;
	width: 100%;
	height: 120px;
}
.top-logo {
	margin-left: 20px;
	margin-top: 0;
	padding-top: 0;
	display: flex;
}
.logo-image {
	display: none;
}
.username {
	display: flex;
	margin-left: 20px;
}
.greeting {
	color: white;
	font-family: 'Roboto', sans-serif;
}
.top-nav {
	display: flex;
    justify-content: left;
    margin-top: 2px;
    padding-top: 0;
    margin-bottom: 10px;
    height: 36px;
    z-index: 2;
    background: black;
}
.top-nav ul {
	padding-top: 0;
	margin-top: 0;
	margin-left: -24px;
}
.top-nav li {
	float: left;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0;
	margin-top: 0;
	font-family: 'Ubuntu', sans-serif;
}
.top-nav li a {
	color: white;
	font-size: 1.2em;
}
.top-nav li:hover {
	color: gray;
}
h1 {
	float: left;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	margin-bottom: 2px;
	margin-top: 5px;
}
h1>a {
	color: white;
}

/* Title: Client + new button*/
.title {
	font-size: 1em;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Ubuntu';
	margin-top: 140px;
	margin-bottom: 2px;
	background: white;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.title h2 {
	margin-left: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.fa-plus-square {
	margin-top: 0;
	margin-right: 0;
}

/* views nav */
.views-nav {
    text-align: right;
    margin-right: 0;
}
.views-nav i {
	color: gray;
    background: #e5e5e5;
    padding: 8px;
    font-size: 20px;
    border: 2px solid grey;
}
.views-nav i:hover {
	background: #fafafa;
	cursor: pointer;
}
.fa-list-ul {
	display: none !important;
}
.fa-th-large {
	display: none !important;
}
/* views nav tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #e5e5e5;
	color: gray;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltiptext {
	font-family: 'Roboto', sans-serif;
}

/* Main */

main {
	margin: 180px 8px 40px 8px;
	font-family: 'Roboto', sans-serif;
}
#clients {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.client-card {
	color: white;
	margin: 10px;
	padding: 10px;
}
.client-list { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin: 10px;
	padding: 10px;
	width: 100%;
}
.client-list h3 {
	text-align: left;
}

/* Client item */
.client-item {
	background-color: #8630fe;
	color: white;
	overflow: hidden;
	white-space: initial;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width: 100%;
}
.client-item:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.client-name {
	font-size: 24px;
	overflow-wrap: break-word;
}
.client-name-div {
	display: flex;
	justify-content: space-between;
}
.remove-client-item {
	font-size: 2em;
	margin: 4px 4px;
}
.remove-client-item:hover {
	cursor: pointer;
	color: #333333;
}
.tooltip:hover .tooltiptext {
	visibility: visible !important;
	opacity: 1 !important;
}
.client-address {
	font-size: 20px;
	overflow-wrap: break-word;
}
.client-list>.clien-name-div>.client-name {
	width: 80%;
}
.client-list>.client-address-div>.client-address {
	width: 300px;
}
.client-item h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
.go-to-client {
	display: none;
}

/* footer */
html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
}
footer {
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: center;
	background: black;
	width: 100%;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
}
.bottom-nav {
	display: flex;
    justify-content: center;
	bottom: 0;
	left: 0;
	right: 0;
    height: 36px;
    z-index: 2;
	background: black;
}
.bottom-nav ul {
	display: flex;
	justify-content: center;
	padding-top: 4px;
	padding-left: 0;
	margin-top: 0;
	margin-left: 0;
}
.bottom-nav li {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0;
	margin-top: 0;
	font-family: 'Ubuntu', sans-serif;
}
.bottom-nav li a {
	color: white;
	font-size: 1.4em;
}
.bottom-nav li:hover {
	color: gray;
}

/* general */
p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
a {
	text-decoration: none;
}
button {
	padding: 10px;
	margin: 10px;
	background: #BDBDBD;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	transition: background-color .3s;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
button:hover {
	cursor: pointer;
}
input {
	outline: none;
	border: none;
	background: #8630fe;
	color: white;
}
textarea {
	outline: none;
	border: none;
	resize: none;
	background: #8630fe;
	color: white;
	width: 80%;
}
::placeholder {
	color: #bdbdbd;
}

/* Tablet */
@media only screen and (min-width: 640px) {
	/* change widths and positions */
}
	
/* Desktop */
@media only screen and (min-width: 800px) {
	html {
		min-height: 100%;
		position: relative;
	}
	body {
		margin: 0;
	}
		/* header */
		header {
			display: flex;
			flex-direction: row;
			position: fixed;
			background: black;
			justify-content: space-between;
			width: 100%;
			height: 60px;
			top: 0;
			left: 0;
			z-index: 1;
		}
		h1>a {
			color: white;
		}
		h1 {
			float: left;
			font-family: 'Ubuntu', sans-serif;
			color: white;
		}
	
		/* top bar*/
		.top-bar {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 60px;
		}
		.top-logo {
			margin-left: 16px;
		}
		.logo-image {
			display: none;
			width: 80px;
			margin-top: -6px;
			margin-bottom: -20px;
			vertical-align: top;
			height: 60px;
		}
		.top-nav li {
			display: inline-block;
			list-style: none;
			padding: 5px;
			font-family: 'Ubuntu', sans-serif;
			margin-top: 10px;
		}
		.top-nav li a {
			color: white;
			font-size: 1.4em;
		}
		li a:hover {
			color: gray;
		}
		.username {
			display: flex;
		}
		.greeting {
			color: white;
			font-family: 'Roboto', sans-serif;
		}
	
		/* Title: Task and views nav */
		.title {
			text-align: center;
			font-size: 1.2em;
			margin-top: 58px;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		}
		.title h2 {
			margin-left: 16px;
			margin-top: 4px;
			margin-bottom: 2px;
		}
		.views-nav {
			text-align: right;
			margin-right: 2px;
			margin-top: 2px;
		}
		.views-nav i {
			color: gray;
			background: #e5e5e5;
			padding: 8px;
			font-size: 20px;
			border: 2px solid grey;
		}
		.views-nav i:hover {
			background: #fafafa;
			cursor: pointer;
		}
		.fa-list-ul {
			display: inline-block !important;
		}	
		.fa-th-large {
			display: inline-block !important;
		}
		/* views nav tooltip */
		.tooltip {
			margin-bottom: 2px;
		}
		.tooltip .tooltiptext {
			visibility: hidden;
			width: 130px;
			background-color: #e5e5e5;
			color: gray;
			text-align: center;
			padding: 5px 0;
			border-radius: 6px;
			/* Position the tooltip text */
			position: absolute;
			z-index: 1;
			bottom: 125%;
			left: 50%;
			margin-left: -60px;
			/* Fade in tooltip */
			opacity: 0;
			transition: opacity 0.3s;
		}
		.tooltip:hover .tooltiptext {
			visibility: visible;
			opacity: 1;
		}
		.tooltiptext {
			font-family: 'Roboto', sans-serif;
		}

	/* main */
	main {
		margin: 120px 8px 40px 8px;
		font-family: 'Roboto', sans-serif;
	}
	#clients {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
	}
	.client-card {
		color: white;
		margin: 10px;
		padding: 10px;
		width: 20%;
	}
	.client-list { 
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		margin: 10px;
		padding: 10px;
		width: 100%;
	}
	.client-list h3 {
		text-align: left;
	}

	/* Item */
	.client-item {
		background-color: #8630fe;
		color: white;
		margin: 10px;
		padding: 10px;
		overflow: hidden;
		white-space: initial;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	.client-item:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.client-item h3 {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
	}
	.client-name {
		font-size: 24px;
		overflow-wrap: break-word;
	}
	.client-name-div {
		display: flex;
		justify-content: space-between;
	}
	.remove-client-item {
		font-size: 2em;
		margin: 4px 4px;
	}
	.remove-client-item:hover {
		cursor: pointer;
		color: #333333;
	}
	.tooltip:hover .tooltiptext {
		visibility: visible !important;
		opacity: 1 !important;
	}
	.client-address {
		font-size: 16px;
		overflow-wrap: break-word;
	}
	.client-list>.clientask-name-div>.client-name {
		width: 80%;
	}
	.client-list>.client-address-div>.client-address {
		width: 300px;
	}
	.go-to-client {
		display: none;
	}

	html {
		min-height: 100%;
		position: relative;
	}
	body {
		margin: 0;
	}
	footer {
		display: flex;
		position: absolute;
		flex-direction: row;
		justify-content: center;
		background: black;
		width: 100%;
		margin-bottom: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
	}

	/* general */
	input {
		outline: none;
		border: none;
		background: #8630fe;
		color: white;
	}
	textarea {
		outline: none;
		border: none;
		resize: none;
		background: #8630fe;
		color: white;
		width: 80%;
	}
	::placeholder {
		color: #bdbdbd;
	}	
	p {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
	}
	a {
		text-decoration: none;
	}
	button {
		padding: 10px;
		margin: 10px;
		background: #BDBDBD;
		color: white;
		font-family: 'Ubuntu', sans-serif;
		font-size: 1em;
		transition: background-color .3s;
		border: none;
		border-radius: 2px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	}
	button:hover {
		cursor: pointer;
	}
}