.tabs {
	position: relative;
	min-height: 200px;
	clear: both;
	margin: 25px 0;
}
.tab {
	float: left;
}
.top-nav li {
	display: inline-block;
	list-style: none;
	border: 1px solid gray;
	padding: 5px;
}
h1 {
	float: left;
}

header {
	display: flex;
	justify-content: space-between;
}