@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.title {
	text-align: center;
	font-size: 30px;
}

.tabs {
	position: relative;
	min-height: 200px;
	clear: both;
	margin: 25px 0;
}
.tab {
	float: left;
}
.top-nav {
	margin-right: 20px;
}
.top-nav li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 10px;
}
.top-nav li a {
	color: white;
	font-size: 1.4em;
}
.top-nav li:hover {
	background: gray;
}
main {
	margin-top: 120px;
	font-family: 'Roboto', sans-serif;
}
h1 {
	float: left;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}
h1>a {
	color: white;
}
a {
	text-decoration: none;
}
h1>a:hover {
	background: gray;
}
.top-logo {
	margin-left: 20px;
}
.username {
	display: flex;
}
.greeting {
	color: white;
	font-family: 'Roboto', sans-serif;
}
header {
	display: flex;
	position: fixed;
	background: black;
	justify-content: space-between;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

p {
	font-family: 'Roboto', sans-serif;
}
#tabs ul li a {
	font-family: 'Ubuntu', sans-serif;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
	margin: 10px;
	background: #BDBDBD;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	transition: background-color .3s;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

button {
	padding: 10px;
	margin: 10px;
	background: #BDBDBD;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	transition: background-color .3s;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
button:hover {
	cursor: pointer;
}

.task-item {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
	/* change widths and positions */
}
	
/* Desktop */
@media only screen and (min-width: 800px) {
	
}