@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.login-form {
	margin: auto;
    padding: 20px;
	background: #bdb8b87a;
    width: 30%;
}
input {
	margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid gray;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
input:focus {
	border: 2px solid red;
	outline: none;
}
button {
    background: #df5b33;
    width: 100%;
    border: 2px solid gray;
    padding: 10px;
	color: white;
	font-size: 16px;
}
h2{
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
	font-size: 48px;
	margin-top: 10%;	
}
h3 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
	font-size: 32px;
}
html {
	background: url("../assets/login-background.png") no-repeat center center fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: gray;
	cursor: pointer;
}

@media only screen and (min-width: 640px) {
	/* change widths and positions */
}
	
/* Desktop */
@media only screen and (min-width: 800px) {
	
}