@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.login-form {
	margin: auto;
    padding: 20px;
	background: #bdb8b87a;
    width: 80%;
}
input {
	margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid gray;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
input:focus {
	border: 2px solid red;
	outline: none;
}
button {
	padding: 10px;
	margin: 10px;
	background: #BDBDBD;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	transition: background-color .3s;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}
button:hover {
	cursor: pointer;
}
.register-div {
	text-align: center;
}
h2{
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
	font-size: 48px;
	margin-top: 10%;	
}
h3 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
	font-size: 32px;
}
html {
	background: url("../assets/login-background.png") no-repeat center center fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: gray;
	cursor: pointer;
}

@media only screen and (min-width: 640px) {
	/* change widths and positions */
	.login-form {
		margin: auto;
		padding: 20px;
		background: #bdb8b87a;
		width: 50%;
	}
}
	
/* Desktop */
@media only screen and (min-width: 800px) {
	.login-form {
		margin: auto;
		padding: 20px;
		background: #bdb8b87a;
		width: 30%;
	}
}