<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>
        <h1>TASKET</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="POST-name">Please upload a file:</label>
                <input id="POST-name" type="file" name="name">
                <input type="submit" value="Upload">
        </form>      
        <form>
            <label></label>
            <input >
        </form>
        <form id="form" onsubmit="submit()">
            <div>
              <label for="case-id">Case Id</label>
              <input type="text" id="case-id" />
            </div>
            <div>
              <label>Start Date</label>
              <input type="datetime-local" id="start-time" />
            </div>
            <button type="submit">
              Submit
            </button>
          </form>
    </body>
</html>